@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-color: #7cae7a;
    --secondary-color: #394053;
    --accent1-color: #839073;
    --accent2-color: #6E6362;
    --heading-font: 'Inter', serif;
    --paragraph-font: 'Inter', serif;
    --nav-background-color: #7cae7a;
    --nav-link-color: #394053;
    --nav-hover-link-color: #839073;
    --nav-hover-background-color: #6e6362;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--accent1-color);
}

header img {
    width: 100px;
    height: auto;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.history p {
    padding: 15px;
}

.adventures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adventures figure {
    margin: 10px;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
}

.adventures figcaption {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

footer img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
